# Ignore all
*

# Unignore Makefiles
!Makefile

# Unignore all with extensions
!*.*

# Unignore all directories
!*/

# Ignore temp files
*.*~

# Ignore 'bin' directory
bin/
*/bin/*

# Ignore '.vscode' files
.vscode
*/.vscode/*
